.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@keyframes shake {
  0% { transform: translate(0, 0);}
  10% { transform: translate(-62px, -2px); }
  20% { transform: translate(2px, -2px); }
  30% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, 2px); }
  50% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, -2px); }
  70% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, 2px); }
  90% { transform: translate(-2px, -2px); }
  100% { transform: translate(0, 0); }
}


@keyframes fade {
  0% {
    opacity: 0.5;
    box-shadow: 3px 3px 3px;
  }10%{
    opacity:0.7;
  }50%{
    opacity: 0.8;
    background-color: aliceblue;
  }
  100% {
    opacity: 1;
  }
}

h2{
  font-size: 300%;
  font-weight: 900;
  display: flex;
  justify-content:center ;
  animation: shake 16s ease-in-out infinite;
  margin: 0%;
  color: rgb(0, 0, 0);
}
.contenedor-principal{
  position: relative;
  z-index: 1;
  padding-top: 200px;
}
.contenedor-cursos{
  position: relative;
  z-index: 1;
  width: 60%;
  min-height:400px;
  max-height: 600px;
  max-width: 900px;
  display: grid;
  margin: auto;
  display: grid;
  grid-template-columns: 31.1% 30% 31.1%;
  gap:3%;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: shake 16s ease-in-out infinite;
  animation: fade 9s infinite alternate;
  box-shadow:3px 10px 9px ;
}
.contenedor-cursos::-webkit-scrollbar {
  display: none; 
}
.contenedor-prueba{
  min-height: 400px;
}